{% extends "basic/base.html" %}
{% block content %}

<h1>Tasks</h1>
<p>Login using Google SignIn</p>
<p>Set a unique username for the app</p>
<p>Store contact number of the user</p>
<p>Store multiple addresses of the person</p>

<h2>Thanks for checking out!</h2>
{% endblock %}