{% extends "basic/base.html" %}
{% block content %}
	<div class="container-fluid">
    	<div class="row">
            <div class="b1 col-lg-9 col-lg-offset-1 col-md-9 col-md-offset-1">
            	<center>
                <form method="POST" name="myForm" onsubmit="return validateForm()" action="{% url 'add_address' %}">
                {% csrf_token %}
                <div class="form-group">
                    <div>
                            <input type="text" name="title" id="t" placeholder="Title" class="form-control" required>
                            <span id="title" class="text-danger font-weight-bold"></span>
                    </div>
                    </div>
                     <div class="form-group">
                    <div>
                       <input type="text" name="addr_line_one" id="a1" placeholder="Address Line 1" class="form-control" maxlength="50" required>
                       <span id="aone" class="text-danger font-weight-bold"></span>
                    </div>
                    </div>
                    <div class="form-group">
  					       <div> 
						        <input type="text" name="addr_line_two" placeholder="Address Line 2" maxlength="50" id="a2" class="form-control">
                    <span id="atwo" class="text-danger font-weight-bold"></span>
					         </div>
                   </div>
                    <div class="form-group">
                        <div>
                        <input type="text" name="locality" placeholder="Locality" class="form-control" id="l" required>
                        </div>
                    </div>
               		<div class="form-group">
                       <div> 
                       	<input type="number" name="pincode" placeholder="Pincode" class="form-control" size="6" id="p" required>
                        <span id="pin" class="text-danger font-weight-bold"></span>
                       </div>
                    </div>
                    <div class="form-group">
                        <div>
                        	<input type="text" name="city" id="c" placeholder="City" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                       <div> 
                       	<input type="text" name="state" class="form-control" placeholder="State" id="s" required>
                       </div>
                    </div>
                    <div class="form-group">
                      <div>
                        <!-- <input type="text" name="profile" value="{{request.session.user_name}}" id="pr" class="form-control" disabled="true" hidden> -->
                        <!-- <select name="profile" id="pr">
                          <option value="{{request.session.user_name}}" selected>{{request.session.user_name}}</option>
                        </select> -->
                      </div>
                    </div>
                    <button type="submit" name="submit" value="submit" class="btn btn-primary">Submit</button>
                   </form>
                   </center>
            	</div>
        	</div>
  		</div>
      <script type="text/javascript">
        function validateForm() {
          var t = document.getElementById("t").value;
          var lo = document.getElementById("a1").value;
          var lt = document.getElementById("a2").value;
          var l = document.getElementById("l").value;
          var p = document.getElementById("p").value;
          var c = document.getElementById("c").value;
          var s = document.getElementById("s").value;
          var pr = document.getElementById("pr").value;

          if(t.length>10){
            // alert("Title can't be more than 10 characters long");
            document.getElementById('title').innerHTML = "**Please enter 10 characters only";
            return false;
          }
          else if(lo>50){
            // alert("Address line 1 can't be more than 50 characters long");
            document.getElementById('aone').innerHTML = "**Please enter 50 characters only";
            return false;
          }
          else if(lt>50){
            // alert("Address line 2 can't be more than 50 characters long");
            document.getElementById('atwo').innerHTML = "**Please enter 50 characters only";
            return false;
          }
          else if(str(p).length>6 || str(p).length<6){
            // alert(" Pincode can't be more than 6 characters long");
            document.getElementById('pin').innerHTML = "**Please enter 6 characters only";
            return false;
          }
          else{
            return true;
          }
        }
      </script>
    <!-- {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %} -->
{% endif %}
{% endblock %}