<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Home Page</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}">
	<style type="text/css">
		th,td{
			padding: 10px;
			padding-top: 50px;
			margin-left: 150px;
  			text-align: left;
			border-bottom: 1px solid #ddd;
		}
		tr:hover {background-color: #f5f5f5;}
		.b1{
			padding-top: 100px;
			padding-left: 100px;
			margin-left: 250px;
			padding-right: 100px;
		}
		.navbar{
			color: white;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-inverse techfont custom-navbar">
		<div class="container">
			<ul class="nav navbar-nav">
			<li><a class="navbar-brand bigbrand" href="{% url 'home' %}">Task </a></li>
			<li><a href="{% url 'about' %}">About</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				{% if user.is_authenticated %}
				<li>
					<a href="{% url 'address' %}">Add address</a>
				</li>
				<li>
					<a href="{% url 'addr_details' %}">Show addresses</a>
				</li>
				<li>
					<a href="{% url 'logout' %}">Log Out</a>
				</li>
				<li>
					<a>Welcome</a>
				</li>
				{% else %}
				<li><a class='nav navbar-right' href="{% url 'login' %}"><span class='glyphicon glyphicon-user'></span></a></li>
				{% endif %}
			</ul>
		</div>
	</nav>
	<div class="content container">
		<div class="row">
			<div class="col-md-8">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>