{% extends "basic/base.html" %}
{% block content %}
	<form method="post">
		{% csrf_token %}
		<p>Are you sure you want to delete {{ object.title }}?</p>
		<p>
			<a href="{% url 'delete' object.id %}">Delete</a>
			<a href="{% url 'home' %}">Cancel</a>
		</p>
	</form>
{% endblock %}