{% extends "basic/base.html" %}
{% block content %}
	<center>
		<h1>Welcome to Task-Site</h1>
	<table>
		<tr>
		<th>Features</th>
		<th>Technology Stack</th>
		<th>Future Scope</th>
	</tr>
	<tr>
		<td>Login using Google SignIn</td>
		<td>HTML</td>
		<td>Shifting to more flexible <br>DBs like Postgresql and Firebase</td>
	</tr>
	<tr>
		<td>Navigation bar for easy <br>navigation across different pages</td>
		<td>CSS</td>
	</tr>
	<tr>
		<td>Add multiple address</td>
		<td>Javascript</td>
	</tr>
	<tr>
		<td>Set username</td>
		<td>Bootstrap</td>
	</tr>
	<tr>
		<td>Add personal and <br>landline contact number</td>
		<td>Django</td>
	</tr>
	<tr>
		<td>Frontend validation</td>
		<td>Python</td>
	</tr>
	<tr>
		<td>Backend Validation</td>
		<td>DB - Sqlite</td>
	</tr>
	<tr>
		<td>Logout</td>
	</tr>
	</table>
	<h2>That's it for now. Thanks for checking out!!</h2>
	</center>
{% endblock %}