{% extends "basic/base.html" %}
{% block content %}
	{% if addresses %}
		<table>
			<center>
		<tr>
			<th>Id</th>
			<th>User</th>
			<th>Title</th>
			<th>Address Line 1</th>
			<th>Address line 2</th>
			<th>Locality</th>
			<th>Pincode</th>
			<th>City</th>
			<th>State</th>
			<th>Delete address</th>
		</tr>
		{% for addr in addresses %}
		<tr>
			<td>{{addr.id}}</td>
			<td>{{addr.profile}}</td>
			<td>{{addr.title}}</td>
			<td>{{addr.addr_line_one}}</td>
			<td>{{addr.addr_line_two}}</td>
			<td>{{addr.locality}}</td>
			<td>{{addr.pincode}}</td>
			<td>{{addr.city}}</td>
			<td>{{addr.state}}</td>
			<td><a href="{% url 'delete' id=addr.id %}">Delete</a></td>
		</tr>
		{% endfor %}
		</center>
	</table>
	{% else %}
		<p>No Data</p>
	{% endif %}
{% endblock %}
