{% extends "basic/base.html" %}
{% block content %}
{% load socialaccount %}

<!DOCTYPE html>
<html>
<head>
	<title>Social Media</title>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/
	materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>
<body>
	<div>
		<!-- <center>
			<h4>Please Login to Continue</h4>
		</center> -->
    <a href="{% provider_login_url 'google' %}">
        <div style="padding-left: 180px;padding-top: 200px;">
            <img alt="Google sign-in" 
                src="https://i.imgur.com/2dywpzc.png"/>
        </div>
    </a>
	</div>
<!-- 	<a href="{% provider_login_url 'google' %}">Google Login</a>
 --></body>
</html>

{% endblock %}