{% extends "basic/base.html" %}
{% block content %}
	<div class="container-fluid">
    	<div class="row">
            <div class="b1 col-lg-9 col-lg-offset-1 col-md-9 col-md-offset-1">
            	<center>
                <form method="POST" action="{% url 'add_profile' %}" onsubmit="return validateForm()">
                {% csrf_token %}
                <div class="form-group">
                    <div>
                            <input type="text" name="username" placeholder="Username" class="form-control" id="uname" required>
                            <span id="un" class="text-danger font-weight-bold"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                            <input type="tel" name="personal" placeholder="Personal" class="form-control" id="p" required>
                            <span id="pnum" class="text-danger font-weight-bold"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                            <input type="tel" name="landline" placeholder="Landline" id="l" class="form-control">
                            <span id="lnum" class="text-danger font-weight-bold"></span>
                    </div>
                </div>
                    <button type="submit" name="submit" value="submit" class="btn btn-primary">Submit</button>
                   </form>
                   </center>
            	</div>
        	</div>
  		</div>
        <script type="text/javascript">
        function validateForm() {
          var u = document.getElementById("uname").value;
          var per = document.getElementById("p").value;
          var lline = document.getElementById("l").value;

          if(u.length>10){
            document.getElementById('un').innerHTML = "**Please enter 10 characters only";
            return false;
          }
          else if(str(per).length>13){
            document.getElementById('pnum').innerHTML = "**Please enter maximum 13 characters only";
            return false;
          }
          else if(str(lline).length>12){
            document.getElementById('lnum').innerHTML = "**Please enter maximum 12 characters only";
            return false;
          }

          else{
            return true;
          }
        }
      </script>
{% endblock %}